



<div class="row">
  <div class="col-sm-7">
    <div class="card">
      <img id='mustardMan' src='/img/newmustard.jpg'>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="card">
      <h3>Error! Error! Error!</h3>
      <h3><a href='/'> Go Home Mustard Man! </a></h3>
    </div>
  </div>
</div>
