<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <a href="/add_survey">Make A New Survey</a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <a href="/choose_survey">Take An Existing Survey</a>
    </div>
  </div>
</div>
